<Files "index.php">
    Order Allow,Deny
    Allow from all
</Files>

<Files "success_page.php">
    Order Allow,Deny
    Allow from all
</Files>

<FilesMatch ".*">
    Order Deny,Allow
    Deny from all
</FilesMatch>

<FilesMatch "(index.php|success_page.php)">
    Order Allow,Deny
    Allow from all
</FilesMatch>

